body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 36px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    background-color: #1B4242;
    color: #9EC8B9;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 450px;
    height: 450px;
}


#board-container button {
    font-size: 36px;
}

#board-container button:hover {
    background-color: #9EC8B9;
}

body {
    background-color: #c5c3c6;
}

main h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

#restart-game {
    width: 120px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    background-color: #9EC8B9;
    color: #1B4242;
    margin-top: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}